<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
   {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_right algin-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="Vish" class="img-fluid" title="Vish@07">
                        </figure>
                          </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hello guy's</p>
                        <h1>I Am A <span class="text_clr">Full Stack Developer</span> & Web Desginer</h1>
                        <a href="/weather" target="vish"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>